@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

$base-font-size: 10;
$font-family-opensans: "Open Sans", sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
